# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# PDFs and uploaded files (entire folder ignored)
pdfs/
pdfs/**/*

# Local JSON user/material DB
users.json
data.json

# VS Code
.vscode
